@inherits LayoutComponentBase

<PageTitle>تسویه حساب آنلاین</PageTitle>


<div class="page">
   @*  <div class="sidebar">
         <NavMenu />
   </div> *@

    @* <main style="background-image:url('/images/background.jpg'); background-size: cover;background-position: center; ">*@
     <main>
        @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>

        <!-- Footer Section -->
      

    </main>


</div>